/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  background-color: rgb(245, 245, 245);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28.8px; /* 24px * 1.2 = 28.8px */
}

h3,
h4,
p {
  padding-bottom: 12px; /*24 / 2 = 12 */
  padding-left: 19.2px;
}

h1 {
  background-color: rgb(220, 222, 245); /* Purple */
  display: flex;
  flex-direction: row;
  font-size: 37.5px; /* 1.25 Ratio */
  justify-content: center;
  line-height: 48px; /* 24 * 2 = 48*/
  padding: 19.2px
}

h2 {
  font-size: 30px; /* 1.25 Ratio */
  line-height: 36px; /* 24 * 1.5 = 36 */
  padding: 19.2px;
}

h3 {
  font-size: 19.2px; /* 1.25 Ratio */
}

h4 {
  font-size: 15.36px; /* 1.25 Ratio */
  font-weight: bold;
}

figcaption {
  font-size: 15.36px;
  font-style: italic;
  padding-bottom: 24px;
}

figure.image {
  text-align: center;
}

img {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

nav a {
  display: block;
  padding: 15.36px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: rgb(104, 71, 143);
  color: rgb(245, 245, 245);
}

nav a.active {
  background-color: rgb(173, 155, 194);
}

p {
  font-size: 15.36px; /* 1.25 Ratio */
}

ol.repair-instructions {
  font-size: 15.36px;
  list-style: decimal;
  padding-left: 38.4px;
  padding-top: 12px;
  padding-bottom: 24px;
}

section.album h3 {
  padding-left: 0;
  text-align: center;
}

ul.info {
  font-size: 15.36px;
  list-style: square;
  padding-left: 38.4px
}

ul.nav-info {
  background-color: rgb(220, 222, 245); /* Purple */
  box-shadow: 0 0.625em 0.625em -0.625em grey;
  font-size: 19.2px;
  text-align: center;
}

ul.tracks {
  list-style: none;
  padding: 19.2px;
}

ul.tracks h4 {
  padding: 0;
  padding-bottom: 12px;
}

footer {
  color: rgb(84, 84, 84); /* Grey */
  font-size: 12.288px; /* 1.25 Ratio */
  padding-left: 19.2px
}

#contact,
#employment,
#education,
#accomplishments {
  padding-bottom: 24px;
  padding-top: 12px;
}

@media screen and (min-width: 26.25em)  /* 420px = 26.25em */ {

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 19.2px;
  }

  p,
  ul.info,
  ol.repair-instructions {
    font-size: 19.2px;
  }

  ul.nav-info {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: space-around;

  }

}

@media screen and (min-width: 48.75em)  /* 780px = 48.75em */ {

  h1 {
    font-size: 46.875px; /* 1.25 Ratio */
    line-height: 48px; /* 24* 2 = 48 */
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 19.2px;
  }

  figcaption,
  p,
  ul.info,
  ol.repair-instructions {
    font-size: 19.2px;
  }

  ul.nav-info {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    line-height: 36px;
  }

  ul.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  footer {
    font-size: 15.36px;
  }

  #chromebook {
    text-align: center;
  }

  #employment,
  #education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #asm,
  #lindblom {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #cte,
  #iit {
    grid-column-start: 2;
    grid-row-start: 2;
  }

}
